@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
/*amarelo: #f2b833
cinza escuro: #252629
cinza claro: #56565a
*/
* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #252629;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

/*HEADER-----------------------*/
header {
    background-color: #56565a;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

header h1 {
    color: #f2b833;
    font-size: 35px;
    text-decoration: none;
    margin: 5px 0;
}

.search {
    background-color: transparent;
    border: 2px solid #f2b833;
    border-radius: 50px;
    color: black;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 10px 0;
    
}

.search::placeholder {
    color: #f2b833;
}

.search:focus {
    background-color: #f2b833;
    outline: none;
}



/*MAIN------------------*/
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    background-color: #f2b833;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;  
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #56565a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #252629;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.2rem;
    text-align: center;
    min-width: 35px;
    
}

.movie-info span.green {
    color: rgb(39, 189, 39);
}
.movie-info span.orange {
    color: orange;
}
.movie-info span.red {
    color: rgb(189, 42, 42);
}

/*OVERVIEW-------------------*/
.overview {
    background-color: rgba(236, 236, 236, 0.918);
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h4 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}